<div id="footer">
  <p class="text-muted">
    Built on <strong>{{format_date lastBuild}}</strong>. Curious how this site was made? <a href="https://github.com/nicinabox/nicinabox">Check out the source.</a>
  </p>
</div>
