<div class="project">
  <div class="actions">
    <nav>
      <a href="{{url}}">Code</a>

      {{#if homepage}}
        <a href="{{homepage}}">Homepage</a>
      {{/if}}
    </nav>
  </div>

  {{#link_to this className="details"}}
    <h4 class="title">{{project_name this}}</h4>
    <p>
      {{description}}
    </p>
  {{/link_to}}
</div>
