<div class="app">
    <a href="{{appUrl}}" class="details">
        <div class="icon">
            {{#if icon}}
                <img src="/images/{{icon}}" alt="{{name}} icon" />
            {{/if}}
            {{#unless icon}}
                <div class="icon-placeholder"></div>
            {{/unless}}
        </div>

        <h4 class="title">
            {{name}}
        </h4>
    </a>
</div>
