<div class="app-group">
    <h1>
        {{title}}
        <small class="text-muted description">
            {{description}}
        </small>
    </h1>

    <div class="row">
        {{#each projects}}
            <div class="col-sm-2 col-xs-4 app-container">
                {{> app}}
            </div>
        {{/each}}
    </div>
</div>
