<aside id="aside">
    <a href="/">
        <img class="avatar" src="https://www.gravatar.com/avatar/4da26f5e9ba2c59d01717c8e823df09c?size=200"
            width="100" height="100" alt="" />
    </a>

    <p class="lead">
        <strong>Hey!</strong> I'm Nic. I do frontend at Lyft. These are my personal projects, pulled daily from Github activity.
    </p>

    <p>
        I also like to garden, ride bikes, build keyboards, and tinker with things.
    </p>

    <p>
        You can reach me at <a href="mailto:im.nic@hey.com">im.nic@hey.com</a>.
    </p>

    <nav class="contact">
        <a class="link-secondary" href="http://github.com/nicinabox">Github →</a>
        <a class="link-secondary" href="http://twitter.com/nicinabox">Twitter →</a>
    </nav>
</aside>
