<aside id="aside">
    <div class="avatar">
        <a href="/">
            <img src="/images/avatar.jpeg" alt="avatar" />
        </a>
    </div>

    <p class="lead">
        <strong>Hey!</strong> I'm Nic. I'm a senior frontend engineer, formerly at Lyft.
    </p>

    <p>
        I make pizza, build keyboards, and ride motorbikes around the world.
    </p>

    <p>
        You can reach me at <a href="mailto:im.nic@hey.com">im.nic@hey.com</a>.
    </p>

    <nav class="contact">
        <a class="link-secondary" href="http://github.com/nicinabox">Github →</a>
    </nav>
</aside>
