<footer id="footer">
    <p>
        <span class="text-muted">Compiled on <strong>{{site.lastBuild}}</strong>.</span>
    </p>
    <p>
        <a class="link-secondary" href="https://github.com/nicinabox/nicinabox">View Source →</a>
    </p>
</footer>
