<footer id="footer">
    <p className="text-muted">
        Compiled on <strong>{{site.lastBuild}}</strong>.
        <a href="https://github.com/nicinabox/nicinabox">View Source</a>
    </p>
</footer>
