<footer id="footer">
    <p class="text-muted">
        Compiled on <strong>{{site.lastBuild}}</strong>.
        <a class="link-muted" href="https://github.com/nicinabox/nicinabox">View Source</a>
    </p>
</footer>
