<main class="container">
    <div class="row">
        <div class="col-sm-3">
            {{> aside}}
        </div>

        <div class="col-sm-8 col-sm-offset-1">
            {{#with site.apps}}
                {{> app_group}}
            {{/with}}

            {{#with site.projects}}
                {{#with activeProjects}}
                    {{> project_group}}
                {{/with}}

                {{#with recentProjects}}
                    {{> project_group}}
                {{/with}}

                {{#with recentContributions}}
                    {{> project_group}}
                {{/with}}

                {{#with retiredProjects}}
                    {{> project_group}}
                {{/with}}
            {{/with}}

            {{> footer}}
        </div>
    </div>
</main>
