#aside {
  margin-bottom: 50px;

  .description {
    margin-top: 40px;
  }

  a {
    color: $gray-light;

    &:hover {
      color: $link-hover-color;
      border-bottom-color: $link-hover-color;
    }
  }
}
