#aside {
  margin-bottom: 50px;

  .avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .lead {
      font-weight: 400;
  }

  h1 {
    a {
      color: $gray-dark;
      border: none;
    }
  }

  .description {
    margin-top: 40px;
  }

  .contact {
      a {
          display: block;
      }
  }
}
