body {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 900;
}

a {
  text-decoration: underline;
  &:hover, &:focus {
  }
}

.text-muted {
  color: #9B9B9B;
}

.lead {
  font-size: 20px;
}
