$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;

$font-size-h1: 24px;

$gray-light: #9B9B9B;
$gray-dark: #4A4A4A;
$black: #111111;
$brand-primary: #FF2851;
