$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;

$font-size-h1: 24px;

$gray-light: #c7c7d6;
$gray-mid: #7d7ea1;
$gray-dark: #333447;
$black: #15161e;
$brand-primary: #FF2851;
