<div id="aside">
  <img class="avatar" src="http://www.gravatar.com/avatar/4da26f5e9ba2c59d01717c8e823df09c?size=100" alt="">

  <h1><a href="/">Nic Aitch</a></h1>
  <p class="text-muted lead">
    Javascript mostly
  </p>

  <p class="description">
    I'm a frontend engineer at <a href="https://www.advisory.com/">The Advisory Board Company</a>.
  </p>

  <nav class="contact">
    <a href="http://twitter.com/nicinabox">@nicinabox</a>
  </nav>
</div>
