<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nic Haynes - Frontend Engineer</title>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    {{> main}}
    <script src="client.js" />
    <script data-goatcounter="https://nicinabox.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
