<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>
  <div id="root" class="container">
    <div class="row">
      <div class="col-sm-3">
        {{> aside}}
      </div>

      <div class="col-sm-8 col-sm-offset-1">
        {{> project_group
          title='Active Projects'
          description='Last 30 days'
          set=active_projects }}

        {{> project_group
          title='Recent Projects'
          description='Last 6 months'
          set=current_projects }}

        {{> project_group
          title='Recent Contributions'
          description='Last 12 months'
          set=recent_contributions }}

        {{> project_group
          title='Retired Projects'
          description='Not under active development'
          set=legacy_projects }}

        {{> footer }}
      </div>
    </div>
  </div>

  {{> scripts}}
</body>
</html>
